body {
	font-family: Verdana, sans-serif;
	margin:0; padding:0;
	background-color: #f9f9f1
	}

#maincontainer {
	width: 1000px; 
	margin: auto; 
	border: 1px solid #666666;
	background-color: #fff
	}

a {color: #03c; text-decoration: none;}
a:visited {color: #609}
a:hover, a:active {color:#c33}

#toplinks  {
		background-color: #000;
		padding: 2px 0 3px 0; 
		font-size: 68.75%;
		font-family: Verdana, Sans-serif;
		}
#toplinks ul { margin: 0; padding: 0; display: block}
#toplinks ul li { display: inline; margin: 0; padding: 0 7px 0 7px; border-left: 1px solid white}
#toplinks li:first-child {border-left:0; padding-left: 12px}	
#toplinks a:link, #toplinks a:visited {color: #fff;}	

#googleform {padding: 15px 18px 0 0; color:#FFFFFF; font-size: 81.25%; 
	margin-top: -120px; float: right;}

#q {width: 10em; height: 1.2em;
	border: 1px solid #cccccc}
	
#sb {
	font-size: 81.25%;
	border: 0;
	padding: 2px;} 

#contentcolumn{
	margin-left: 220px; 
	padding: 0 25px 25px 10px;
}
#breadcrumbs {
	font-size: 68.75%;
	margin-bottom: 15px;
	}
#content {
	font-size: 81.25%;
	line-height: 140%
}

#content h1 { font-size: 1.9em;  font-weight: bold;font-family: "Trebuchet MS", arial, helvetica, sans-serif; font-weight: normal; margin-top:0; line-height: 1.1em;}
#content h2 { font-size: 1.4em;  margin-bottom: 0.3em; font-family: "Trebuchet MS", arial, helvetica, sans-serif;}
#content h3 { font-size: 1.3em;  margin-bottom: 0.2em; font-family: "Trebuchet MS", arial, helvetica, sans-serif;} 
#content h4{ font-size: 1.1em;  margin-bottom: 0; font-family: "Trebuchet MS", arial, helvetica, sans-serif;}
#content h5 { font-size: 1em;  margin-bottom: 0; font-family: "Trebuchet MS", arial, helvetica, sans-serif;}

#content ul, #content ol {margin-top: 0.2em}
#content li {padding: 3px;}
#content p {margin-top: 0; line-height: 1.4em;}
#content p + ul, p + ol {margin-top: 0; padding-top: 0}
#content *:first-child+html p + ul, *:first-child+html p + ol {margin-top: -1em; padding-top: 0} /*ie 7 hack */
#content form {padding: 0; margin: 0}
#content p.toplink {text-align: right}
#content a {border-bottom: 1px solid #aaf}
#content a:visited {border-color: #B9F }
#content a:hover, #content a:active {border-color: #f80}


#siteheader {
	height: 120px;
	margin: 0; padding: 0; 
	background-color: #000;
	background-image: url(/graphics/banner.jpg);
	background-position: right;
	background-repeat: no-repeat;
	}
	
#siteheader h3, #siteheader h1 {
	display: none; 
	margin: 0; 
	padding: 0;
	}
#siteheader img {float: right; display: none}

#title {
	height: 37px;
	margin: 0 0 20px 0;
	padding: 0;
	clear: both;

	}
#title h2 {display: none;}
#title div {height: 36px; 
		 	background-image: url(/graphics/site_title.gif);
			background-repeat: no-repeat;
			margin: 0 0 0 10px;}

#leftcolumn{
	width: 200px; /*Width of left column*/
	margin-left: 10px; /*Set left margin to -(MainContainerWidth)*/
	float: left;
	display: inline;
	font-size: 68.75%
	}

#leftcolumn h3, #leftcolumn h4 {
	background-position: top;
	background-repeat: no-repeat;
	margin: 0; 
	font-size: 118%; 
	padding:4px 0px 5px 10px;
	}
	
#leftcolumn ul {
	list-style: none; padding: 0; margin: 0 }
	
#leftcolumn li {
	padding: 10px 10px 10px 15px; 
	border-top: 1px dotted;
	background-image:url(http://www.canterbury.ac.nz/brand/circle2.gif); 
	background-position: 0 15px; 
	background-repeat: no-repeat 
	}

#leftcolumn ul li:first-child {border:0}	

#subnav ul {
	list-style: none; padding: 0 10px 0 0; margin: 0; font-size: 85%; 
	}
	
#subnav li {
	padding: 5px 5px 5px 10px; 
	border-top: 1px dotted;
	background-image:url(http://www.canterbury.ac.nz/brand/triangle.gif); 
	background-position: left; 
	background-repeat: no-repeat 
	}	

#subnav ul li:first-child {border:0;}

#subnav {margin-bottom: 10px; width: 575px; }

#subnav h1 {
	background-position: top left;
	background-repeat: no-repeat;
	border: 0;
	border-bottom: 1px solid;
	margin: 0;
	padding: 0 0 0 11px;
	overflow: hidden;
	font-size: 110%;
	height: 20px; overflow: visible;	
	font-family: Verdana, sans-serif; font-weight: bold}
	
#subnav h1 span {
	background-position: top right;	
	margin:  0;
	padding: 0 65px 0 10px;
	line-height: 20px;
	display: inline-block;
	background-repeat: no-repeat;
	}
#subnav a {border:0}
	
fieldset {margin-top: 1em}
fieldset legend{font-size: 1.2em; font-weight: bold;}
fieldset fieldset {margin-bottom: 1em; border: 0; padding:0}
fieldset fieldset legend {font-size: 100%; font-weight: normal}

#footer{
	clear: left;
	padding: 10px 0 10px 0px;
	border-top: 1px solid #000;
	margin-top: 10px;
	font-size: 68.75%;
	text-align: center}

#footer ul {margin: 0; padding: 0}	
#footer li { display: inline; margin: 5px 7px 5px 0; padding: 0 0 0 7px; border-left: 1px solid black}
#footer ul li:first-child {border:0}

#related {float: right; width: 135px; max-width: 135px; margin: 0 0 10px 10px;}
#related ul {
	list-style: none; padding: 0; margin: 0;
	border: 1px #ccc solid;
	padding: 0 10px 10px 10px;
	font-size: 68.75%;
	display:block;
	}

#related li {
	padding: 5px 0 2px 10px; 
	background-image:url(http://www.canterbury.ac.nz/brand/triangle.gif); 
	background-position: left; 
	background-repeat: no-repeat;
	display: list-item;
	}

#related h4, #related h3 
	{
	font-size: 80%; 
	border: 1px solid #ccc; 
	margin: 0; 
	padding: 4px;
	border-width: 1px 1px 0 1px;
	}
#related ul+h4, #related ul+h3 {border-top:0}

p.indent {margin-left: 3em}

div.captionleft, div.captionright, div.box {
	border: 1px solid #fc9;
	padding: 0.5em; 
	background: #ffd;
	}
div.captionleft, div.captionright {
	margin: 0 1em 1em 1em;
	}
div.box {margin-bottom: 1em}

div.captionleft {float: left;}
div.captionright{float: right;}	
div.captionleft img, div.captionright img {margin-bottom: 0.3em}

div.box img {margin: 5px}
.red {
	color: #900}

	
hr {
	color: #999;
	
	}

td.tableRow { border-bottom: 1px solid #fc9;}
td.tableHeader { border-bottom: 1px solid #fc9; font-weight: bold; }
.shade { background-color:#ffd;} 
.border {border: 1px #fc9 solid;}
img.border {padding: 5px;}
.clear {clear: both;}
th { text-align: left}

#thispage 
	{
	margin-bottom: 10px; 
	padding: 0.3em; 
	border:1px solid #999; 
	font-size: 85%; 
	display: inline-block; 
	padding: 8px 28px 12px 8px}
#thispage ul {margin: 0.1em 0 0.5em 0.5em; padding: 0 0 0 1.1em}
#thispage p, #thispage h4 {margin: 0 0 0.5em 0; font-weight: bold}
#thispage td 
{ 
vertical-align: top;  
}


	
div.quote {
	border: 1px solid #ffd;
	padding: 1em; margin: 0 0 0 1em;
	font-weight: bold;
	float: right;
	width: 10em;
	font-family: Georgia, Times, serif;
	font-style: italic;
	font-size: 112%
	}


@media print {
#maincontainer {width: auto; border: 0;}
#contentcolumn {margin: 0}
#leftcolumn, #topnav, #googleform, #toplinks, #breadcrumbs, #subnav, #thispage, #related, #footer  {display: none}
#title h2 {display: block; margin-top:0; font-size: 1.4em; font-weight: normal; font-family: "Trebuchet MS", arial, helvetica, sans-serif; border-bottom: 3px black solid}
#siteheader img {display: inline}

}

