/* Colour information for College of Engineering */

#leftcolumn h3, #leftcolumn h4, #homecolumn1 h3, #homecolumn2 h3  {
	color: #fff;
	background-color:  #7c6496; 
	}	
	
#leftcolumn li, #homecolumn1 li, #homecolumn1 h4, #subnav h1, #subnav li {
	border-color:  #7c6496; 
	}
	
.tableRow {border-color: #7c6496}

#leftcolumn h3, #leftcolumn h4, #homecolumn1 h3 {
	background-image: url(http://www.canterbury.ac.nz/brand/engineering/menu.gif);
	}	
#homecolumn2 h3 {
	background-image: url(http://www.canterbury.ac.nz/brand/engineering/news.gif);
	}
#homecolumn1 h4 span, #subnav h1 span {
	background-image: url(http://www.canterbury.ac.nz/brand/engineering/headline.gif);
	}
#homecolumn1 h4, #subnav h1 {
	background-image: url(http://www.canterbury.ac.nz/brand/engineering/headline_bit.gif);
	}
#homecolumn1 h4, #subnav h1 {color: #fff}
#title {	
	background-image: url(http://www.canterbury.ac.nz/brand/engineering/titlebar.gif);
	}

#profile {color: #ffffff; background-color: #7c6496;}
#profile a {color: #ffffff;}



